<div class='card' style='--color: var(--color_delta);'>
    <div class="left"></div>
    <div class='content'>
        <div class='icon'>
            <ion-icon name='triangle'></ion-icon>
        </div>
        <div class='text'>
            <h3>Delta</h3>
            <p>{{dados.delta}}</p>
        </div>
        
    </div>
    <div class="resolution">
        <div class='textr'>
            <h3>Resolução Delta</h3>
            <div class='resp'>
                {% include 'partials/conta/conta_delta.html' %}
            </div>
        </div>
    </div>
</div>