<p>
    <span style="color: var(--color_raiz);">
        <i class="fa-solid fa-x"></i>
    </span> = (({{dados.b}} * -1) + raiz({{dados.delta}})) / (2 * {{dados.a}})
    </p>
<p>
    <span style="color: var(--color_raiz);">
        <i class="fa-solid fa-x"></i>
    </span> = ({{dados.b*-1}} + {{dados.raiz_delta}}) / {{2*dados.a}}
</p>
<p>
    <span style="color: var(--color_raiz);">
        <i class="fa-solid fa-x"></i>
    </span> = {{(dados.b*-1) + dados.raiz_delta}} / {{2*dados.a}}
</p>
<p>
    <span style="color: var(--color_raiz);">
        <i class="fa-solid fa-x"></i>
    </span> = {{dados.raiz['X1']}}
</p>